# Uncomment beneth line, when in mercurial.
# syntax: glob

# python virtual env default dir
include/*

# vi/vim temprary files
*~
*.swp
*.swc

# python binary files
*.pyc

# database files
*.db
database
*.database

# binary image files
*.jpg
*.jpeg
*.png
*.gif
*.svg

# fabfiles
fabfile.*

# binary data file
*.dat

# tar file
*.tar.gz

# testing report file
test/report.txt
